html,body {
  margin: 0;
  height: 100%;
}

#container {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
}

header {
  text-align: center;
  padding: 0.5rem 0;
  font-size: 2rem;
  color: white;
  background-color: #385a8d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

aside {
  padding-left: 0.5rem;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-color: #9dbff1;
}

.material-icons {
  font-size: 30px;
}
.hidden {
  display: none !important;
}

#container-header {
  grid-column: 1/3;

  .toggle-project {
    background-color: transparent;
  }

  button {
    color: white;
    margin-left: 1rem;  

    span {
      font-size: 40px;
    }
  }
}

.project {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 1px 7px 8px 1px #998c8c;
  padding: 15px;
  transition: 1s;
  width: 0;
  transform: translateX(-400px);

  .project-list {

    .list-item {
      padding: 10px;
    }
  }
}

.selected {
  background: #c8c7c7;
}

.active {
  width: 26vw;
  transform: translateX(0);
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 13px;
}

#banner-title {
  font-size: 1.3rem;
  font-weight: 700;
}

#add-project {
  background-color: #9dbff1;
}

// Dynamical content
.project-list {
  margin-top: 10px;
  width: 100%;
  
  li {
    word-wrap: break-word;
    margin: 20px 20px 10px 24px;
    font-size: 1.4rem;

    &:hover {
      cursor: pointer;
    }
  }
}

.modal {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(168, 166, 166, 0.432);
}

.pop-up {
  position: relative;
  top: 15%;
  margin: 0 auto;
  background-color: #b9b9d9;;
  max-width: 60%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin: 20px 0;
    text-align: center;
    font-size: 2rem;
  }
}

.form-row {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 1.4rem;

  button {
    height: 30px;
    width: 40%;
  }

  input[type="submit"] {
    height: 30px;
    border: none;
    width: 40%;
    background-color: #9dbff1;
    cursor: pointer;
  }
}

.project-body {
  grid-column: 2/3;
  padding: 2rem;

  .banner {

    .left-banner {
      display: flex;
      align-items: center;
      margin-left: 30px;

      .project-name {
        font-size: 1.1rem;
        font-weight: 600;
        margin-right: 10px;
      }

      button {
        margin: 0 10px;
      }
    }

    .right-banner {
      margin-right: 30px;
    }
  }
}

textarea {
  height: 90px;
}


.date-area {
  display: flex;
  align-items: center;

  * {
    box-sizing: border-box;
  }

  label {
    height: 36px;
    border: 1px solid #a4a4a4;
    border-right: none;
    background-color: white;
    font-size: 15px;
    padding: 4px;
  }

  input {
    height: 36px;
    padding-left: 5px;
    border: 1px solid #a4a4a4;
    border-left: 1px dashed gray;
  }
}

table {
  width: 100%;
}

tr {
  background-color: #f5faff;
}

th, td {
  min-width: 20px;
  border: 2px solid #cecece;
  padding: 15px;
  vertical-align: middle;
  text-align: center;
}

th {
  background-color: #a183ff78;
  font-weight: 600;
  font-size: 20px;
}

.todo-table {
  margin-top: 1.4rem;

  .todo-list {

    .low {
      background-color: lightblue;
    }
  
    .medium {
      background-color: lightgreen;
    }
  
    .high {
      background-color: lightcoral;
    }
  
    .complete {
      background-color: lightgray;
      text-decoration: line-through;
    }      
  }
}