header{
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
}

.trigger  {
  margin-top: 10px;
  width:20%;  
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 0px;
}

.modal-container {
  background-color: white;
  max-width: 440px;
  margin: 3rem auto;
  padding: 3rem 0;
}

.open {
  display: block;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-area {
  margin: 7px;
}

.input-area label {
  font-size: 0.6rem;
}

.input-area input {
  margin-top: 4px;
}

#submit-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#render-library {
  display: flex;
  flex-direction:row;
  margin: auto 0;
  justify-content: center;
  margin-top: 20px;
}

/* Added by Javascript */
.book-container {
  padding: 10px;
  margin: 4px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: minmax(120px, 180px);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  background-color: rgba(184, 180, 180, 0.6);
}

.book-detail {
  padding: 5px;
}

.book-title {
  text-transform: uppercase;
}

.book-author {
  text-transform: capitalize;
}