#game-title {
  text-align: center;
  margin-top: 10px;
}

#game-title h1 {
  margin-bottom: 5px;
}

#game-section {
  margin: 20px 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#player-area {
  margin-top: 40px;
}

.players {
  font-size: 2.4rem;
}

#player-two {
  padding-top: 4rem;
}

#game-grid {
  margin-right: 20px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 10px;
}

.grid-item {
  font-size: 3rem;
  background-color: rgb(173, 170, 170);
}

#modal {
  background-color: white;
  padding: 3rem 0;
  position: absolute;  
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 0px;
  display: block;
}


.modal-container {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-header {
  margin: 5px;
  margin-bottom:1rem;
}

.modal-header h1 {
  font-size: 1.5rem;
}

.input-area {
  margin: 20px;
}

.input-area label {
  font-size: 1rem;
}

.input-area input {
  margin-top: 15px;
}

.submit-area {
  text-align: center;
}



