#game-title {
  text-align: center;
  margin-top: 10px;
}

#game-title h1 {
  margin-bottom: 5px;
}

#game-section {
  margin: 50px 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.players {
  font-size: 2.4rem;
}

#player-two {
  padding-top: 4rem;
}

#game-grid {
  margin-right: 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 50px;
}

.grid-item {
  font-size: 3rem;
}